.banner-carousal{
    width: 100%;
    height: 280px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

.bannercarousal-image{
    width: 100%;
    height: 280px;
    object-fit: cover;
}