.categorybanner{
    padding:25px 25px;
    width: fit-content;
    height: 100%;
    max-height: 366px;
    background: white;
    text-align: center;
}
.categorybanner-image{
    width: 200px;
    height: 170px;
    cursor: pointer;
    object-fit: contain;
}
.categorybanner-image:hover{
    transform: scale(1.1);
}
.categorybanner-title{
    padding: 15px 0px;
    font-size: 15px;
    color: black;
}
.categorybanner-shopnow{
    color: rgb(7,172,7);
    font-weight: 300;
}
.categorybanner-brands{
    color: grey;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0px;
}