.products{
    padding: 80px 10px 10px 20px;
    width: 100%;
    background: rgb(247, 246, 246);
    display: flex;
}

.products-filters{
    display: none;
    width: 20%;
    height: 100%;
    padding: 10px;
    background: white;
    box-shadow: 0px 10px 10px rgb(204, 202, 202);
    margin-right: 1rem;
}

.filter-head{
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 1px solid rgb(228,255,255);
}

.filter-categoryhead{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}