@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "roboto", sans-serif;
}

:root{
    --flipkart-lightblue:#2874f0;
}

a{
    text-decoration: none;
    color: inherit;
}